@using cuentasPorCobrar.Models;
@model CuentasPorCobrar.Models.Cliente

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ProyectoContext proyectoContext = new ProyectoContext();

    List<TipoIdentificacion> tiposIdentificacion = new List<TipoIdentificacion>();
    tiposIdentificacion = proyectoContext.GetTiposIdentificacion();
    List<SelectListItem> itemsTipoIdentificacion = tiposIdentificacion.Select(t => new SelectListItem { Value = t.Id.ToString(), Text = t.Nombre }).ToList();

    List<Genero> generos = new List<Genero>();
    generos = proyectoContext.GetGenero();
    List<SelectListItem> itemsGenero = generos.Select(g => new SelectListItem { Value = g.Id.ToString(), Text = g.Nombre }).ToList();

    List<EstadoCivil> estados = new List<EstadoCivil>();
    estados = proyectoContext.GetEstadoCivil();
    List<SelectListItem> itemsEstado_civil = estados.Select(e => new SelectListItem { Value = e.Id.ToString(), Text = e.Nombre }).ToList();
}

<h1>Editar</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="tipo_identificacion" class="control-label"></label>
                <input asp-for="tipo_identificacion" class="form-control" />
                <span asp-validation-for="tipo_identificacion" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="tipo_identificacion" class="control-label">Tipo Identificación</label>
                <!--<input asp-for="IDprestamo" class="form-control" /> -->
                @Html.DropDownList("tipo_identificacion",
                itemsTipoIdentificacion,
                "Seleccione un tipo",
                new { @class = "form-control" })

                <span asp-validation-for="tipo_identificacion" class="text-danger"></span>
            </div>

           
            
            @*<div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="estado_civil" class="control-label"></label>
                <input asp-for="estado_civil" class="form-control" />
                <span asp-validation-for="estado_civil" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="estado_civil" class="control-label">Estado Civil</label>
                <!--<input asp-for="IDprestamo" class="form-control" /> -->
                @Html.DropDownList("estado_civil",
                itemsEstado_civil,
                "Seleccione Estado Civil",
                new { @class = "form-control" })

                <span asp-validation-for="estado_civil" class="text-danger"></span>
            </div>

            

            <div class="form-group">
                <label asp-for="genero" class="control-label">Genero</label>
                @Html.DropDownList("genero",
                itemsGenero,
                "Seleccione un genero",
                new { @class = "form-control" })

                <span asp-validation-for="genero" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <label asp-for="num_identificacion" class="control-label"></label>
                <input asp-for="num_identificacion" class="form-control" />
                <span asp-validation-for="num_identificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_nacimiento" class="control-label"></label>
                <input asp-for="fecha_nacimiento" class="form-control" />
                <span asp-validation-for="fecha_nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ocupacion" class="control-label"></label>
                <input asp-for="ocupacion" class="form-control" />
                <span asp-validation-for="ocupacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ingresos" class="control-label"></label>
                <input asp-for="ingresos" class="form-control" />
                <span asp-validation-for="ingresos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
